{
    // Server configuration
    "server_id"                     : "DE_StorageSrv",
    "server_ip"                     : "::",
    "public_host"                   : "127.0.0.1",
    "server_port"                   : 9000,
    "enable_SSL"                    : true,  // SSL independent of S2S cert.

    // SSL certificates for WebSocket server
    "ssl_key_file"                  : "./ssl_local/ssl_airgap/domain.key",
    "ssl_cert_file"                 : "./ssl_local/ssl_airgap/domain.crt",
    "allow_fake_SSL"                : true,
    "ca_cert_path"                  : "./ssl_local/ssl_airgap/root.crt",

    // Server-to-Server (S2S) certificate authentication for accepting comm server connections
    "s2s_cert_enabled"              : false,
    "s2s_trusted_server_keys"       : {
        "DE_CommSrv"                : "./ssl_local/DE_ServerComm_public.pem"
    },
    
    // Database configuration
    "database": {
        "path"                      : "./data/storage.db",
        "maxConnections"            : 10
    },
    
    // Logging configuration
    "ignoreLog"                     : false,
    "log_directory"                 : "./logs/",
    "log_timeZone"                  : "GMT",
    "log_detailed"                  : false,
    
    // Queue configuration
    "queue": {
        "maxQueueSize"              : 1000,
        "retryInterval"             : 5000
    }
}
